{
    "unit": {
        "default_dependencies": false
    },
    "service": {
        "cmd": "nulld",
        "type": {
            "scheme": "null"
        }
    }
}
