{
    "unit": {
        "description": "/dev/rand",
        "default_dependencies": false
    },
    "service": {
        "cmd": "randd",
        "args": [
            "rand"
        ],
        "type": {
            "scheme": "rand"
        }
    }
}
