{
    "unit": {
        "description": "Set time from realtime clock"
    },
    "service": {
        "cmd": "rtcd",
        "type": "oneshot"
    }
}
