{
    "unit": {},
    "service": {
        "cmd": "randd",
        "args": [
            "rand"
        ],
        "type": {
            "scheme": "rand"
        }
    }
}
