{
    "unit": {
        "description": "/dev/zero",
        "default_dependencies": false
    },
    "service": {
        "cmd": "zerod",
        "type": {
            "scheme": "zero"
        }
    }
}
